.news{
    width: 100%;
    height: 60%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.barraNews, .barraMensal{
    display: flex;
    justify-content: center;
    align-items: center;
text-align: center;
height: 70px;
width: 100%;
margin: 40px 0;
border-bottom: 10px solid black;
}

.barraTxt{
    font-size: 3em;
    color: white;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    padding-bottom: 10px;
    
}

.contSetasMoverScroll{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.btnScroll{
    width: 90vw;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contSetasMoverScroll i{
width: 25px;
height: 25px;
display: inline-block;
text-align: center;
cursor: pointer;
}


.contNews{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 90vw;
    overflow-x: scroll;
    border: 5px solid #222;
    scroll-behavior: smooth;
    margin: 0 10px;
}

.card{
    margin: 25px 25px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #bbb;
    padding: 10px;
    border-radius: 3px;
    background-color: #f0f4f9;
    box-shadow: #444 2px 2px 7px;
    transition: .5s;
}

.img, .imgAcessorios{
    width: 200px;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.imgAcessorios{
    width: 200px;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.img img{
    object-fit: cover;
    max-width: 100%;
    height: 300px;    
}
.imgAcessorios img{
    object-fit: cover;
    max-width: 100%;
    max-height: 200px;    
}

.cardTexto{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 5px 0px;
    color: black;
}

.nomeDoProduto{
    font-size: 1rem;
}
.promoPreco{
    width: 100%;
    position: relative;
}


.promo{
    font-weight: 700;
    color: red;
    padding: 2px 5px;
    border-radius: 5px;
    position: absolute;
    left: 5px;
}
.precoDoProduto{
    font-size: 1.2rem;
    font-weight: 700;
}
.parcelas{
    margin:5px 0;

}
.btnBuy{
    background-image: linear-gradient(to right, crimson, #f55);
    box-shadow: crimson 0 0 10px;
    color: white;
    padding: 8px 38px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
}
.bans1{
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px auto;
    color: white;
}

.bans1Left, .bans1Right{
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.banImg{
    width: 100%;
    overflow: hidden;
}

.bans1Left img, .bans1Right img{
    width: 100%;
}

.captionB1L{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.captionB1L span{
font-weight: 700;
}

.captionB1L a{
    text-decoration: none;
    color: white;
}

.banDivision{
    width: 95vw;
    max-width: 100%;
    margin: 20px;
}

.shopAcessorios{
    width: 95vw;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 768px){
    .shopAcessorios{
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media only screen and (max-width: 320px){
    .barraTxt{
        font-size: 2rem;
    }
    .barraNews{
        padding: unset;
        margin: unset;
    }
    .bans1{
        flex-direction: column;
    }
    .bans1Left, .bans1Right{
        width: 100%;
        margin-bottom: 20px;
    }
}