<div class="news">

    <span> {{ nomeLogado }} </span>

    <div class="barraNews">
        <span class="barraTxt">Mais vendidos</span>
    </div>

    <div class="contSetasMoverScroll">
        <div id="topSeller" class="contNews">
            <div *ngFor="let index of mVendidos" id="card" class="card">
                <div class="imgAcessorios">
                    <img [src]="index.img">
                </div>
                <div class="cardTexto">
                    <span id="product" class="nomeDoProduto">{{index.nome}}</span>
                    <div class="promoPreco">
                        <span class="promo"></span>
                        <span class="precoDoProduto">{{index.preco}}</span>
                    </div>
                    <span class="parcelas">6x sem juros</span>
                    <a id="btnBuy" class="btnBuy" href="#card">Comprar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="bans1">
        <div class="bans1Left">
            <div class="banImg">
                <a routerLink="../lancamento">
                    <img class="lancImg" src="assets/img/banners/bannerLançamento.jpg">
                </a>
            </div>
            <div class="captionB1L">
                <a routerLink="../lancamento">
                    <span>Novos Lançamentos</span>
                    <p>comprar agora</p>
                </a>
            </div>
        </div>
        <div class="bans1Right">
            <div class="banImg">
                <a routerLink="../prevenda">
                    <img src="assets/img/banners/bannerPreVenda.jpg">
                </a>
            </div>
            <div class="captionB1L">
                <a routerLink="../prevenda">
                    <span>Pré-Venda</span>
                    <p>comprar agora</p>
                </a>
            </div>
        </div>
    </div>

    <div class="barraNews">
        <span class="barraTxt">Jogos em Promoção</span>
    </div>

    <!-- AREA PARA LANÇAMENTOS OU PRÉ-VENDA  -->


    <div id="topSeller" class="contNews">


        <div *ngFor="let index of promos" id="card" class="card">
            <div class="img">
                <img [src]="index.img">
            </div>
            <div class="cardTexto">
                <span id="product" class="nomeDoProduto">{{index.nome}}</span>
                <div class="promoPreco">
                    <span class="promo"></span>
                    <span class="precoDoProduto">{{index.preco}}</span>
                </div>
                <span class="parcelas">6x sem juros</span>
                <a id="btnBuy" class="btnBuy" href="#card">Comprar</a>
            </div>
        </div>

    </div>



    <!-- BANNER ACESSORIOS  -->

    <img class="banDivision" src="assets/img/banners/banAcessoriosFino.jpg">


    <div class="shopAcessorios">

        <div id="topSeller" class="contNews">


            <div *ngFor="let index of cardAcessorios" id="card" class="card">
                <div class="imgAcessorios">
                    <img [src]="index.img">
                </div>
                <div class="cardTexto">
                    <span id="product" class="nomeDoProduto">{{index.nome}}</span>
                    <div class="promoPreco">
                        <span class="promo"></span>
                        <span class="precoDoProduto">{{index.preco}}</span>
                    </div>
                    <span class="parcelas">6x sem juros</span>
                    <a id="btnBuy" class="btnBuy" href="#card">Comprar</a>
                </div>
            </div>
        </div>
    </div>





    <!-- BARRA DOS PRODUTOS EM DESTAQUE  -->
    <img class="banDivision" src="assets/img/banners/banBFridayFino.jpg">


    <div class="contDestaques">

        <!-- CONTAINER DOS CARTOES -->
        <div id="destaque" class="contJogosDest">
        </div>
    </div>

    <!-- DUAS IMAGENS PARA NOTEBOOKS  -->
    <div class="bans1">

        <div class="bans1Left">
            <div class="banImg">
                <img class="lancImg" src="assets/img/banners/bannerNoteGamer.jpg">

            </div>

            <div class="captionB1L">
                <a href="lancamento.html">
                    <span>Notebooks para jogos</span>
                    <p>comprar agora</p>
                </a>
            </div>
        </div>
        <div class="bans1Right">
            <div class="banImg">
                <img src="assets/img/banners/bannerNoteTrabalho.jpg">
            </div>

            <div class="captionB1L">
                <a href="prevenda.html">
                    <span>Notebooks para trabalho</span>
                    <p>comprar agora</p>
                </a>
            </div>
        </div>

    </div>



    <div class="shopAcessorios">

        <div id="topSeller" class="contNews">


            <div *ngFor="let index of cardNotes" id="card" class="card">
                <div class="imgAcessorios">
                    <img [src]="index.img">
                </div>
                <div class="cardTexto">
                    <span id="product" class="nomeDoProduto">{{index.nome}}</span>
                    <div class="promoPreco">
                        <span class="promo"></span>
                        <span class="precoDoProduto">{{index.preco}}</span>
                    </div>
                    <span class="parcelas">6x sem juros</span>
                    <a id="btnBuy" class="btnBuy" href="#card">Comprar</a>
                </div>
            </div>

        </div>

    </div>


    <!-- SMARTPHONES  -->
    <img class="banDivision" src="assets/img/banners/bannerSmartphones.jpg">

    <div class="shopAcessorios">

        <div id="topSeller" class="contNews">


            <div *ngFor="let index of cardSmarts" id="card" class="card">
                <div class="imgAcessorios">
                    <img [src]="index.img">
                </div>
                <div class="cardTexto">
                    <span id="product" class="nomeDoProduto">{{index.nome}}</span>
                    <div class="promoPreco">
                        <span class="promo"></span>
                        <span class="precoDoProduto">{{index.preco}}</span>
                    </div>
                    <span class="parcelas">6x sem juros</span>
                    <a id="btnBuy" class="btnBuy" href="#card">Comprar</a>
                </div>
            </div>

        </div>
    </div>

</div>