<div class="news">

    <div class="barraNews">
        <span class="barraTxt">Mais vendidos</span>
    </div>

    <div class="contSetasMoverScroll">

        <i id="setaScrollEsq" onclick="scrollDireita()" style='font-size:50px; color: white' class='fas'>&#xf104;</i>


        <div id="topSeller" class="contNews">


            <div *ngFor="let index of mVendidos" id="card" class="card">
                <div class="imgAcessorios">
                    <img [src]="index.img">
                </div>
                <div class="cardTexto">
                    <span id="product" class="nomeDoProduto">{{index.nome}}</span>
                    <div class="promoPreco">
                        <span class="promo"></span>
                        <span class="precoDoProduto">{{index.preco}}</span>
                    </div>
                    <span class="parcelas"><i class="fab fa-cc-mastercard"></i> 3x sem juros</span>
                    <a id="btnBuy" class="btnBuy" href="#card">Comprar</a>
                </div>
            </div>


        </div>
        <i id="setaScrollDir" onclick="scrollEsquerda()" style='font-size:50px; color: white;' class='fas'>&#xf105;</i>

    </div>








    <div class="bans1">

        <div class="bans1Left">
            <div class="banImg">
                <a routerLink="../lancamento">
                    <img class="lancImg" src="assets/img/banners/bannerLançamento.jpg">
                </a>
            </div>

            <div class="captionB1L">
                <a routerLink="../lancamento">
                    <span>Novos Lançamentos</span>
                    <p>comprar agora</p>
                </a>
            </div>
        </div>
        <div class="bans1Right">
            <div class="banImg">
                <a routerLink="../prevenda">
                    <img src="assets/img/banners/bannerPreVenda.jpg">
                </a>
            </div>

            <div class="captionB1L">
                <a routerLink="../prevenda">
                    <span>Pré-Venda</span>
                    <p>comprar agora</p>
                </a>
            </div>
        </div>

    </div>



    <div class="barraNews">
        <span class="barraTxt">Jogos em Promoção</span>
    </div>

    <!-- AREA PARA LANÇAMENTOS OU PRÉ-VENDA  -->

    <div class="contSetasMoverScroll">

        <i id="setaScrollEsq" onclick="scrollDireita()" style='font-size:50px; color: white' class='fas'>&#xf104;
        </i>


        <div id="topSeller" class="contNews">


            <div *ngFor="let index of promos" id="card" class="card">
                <div class="img">
                    <img [src]="index.img">
                </div>
                <div class="cardTexto">
                    <span id="product" class="nomeDoProduto">{{index.nome}}</span>
                    <div class="promoPreco">
                        <span class="promo"></span>
                        <span class="precoDoProduto">{{index.preco}}</span>
                    </div>
                    <span class="parcelas"><i class="fab fa-cc-mastercard"></i> 3x sem juros</span>
                    <a id="btnBuy" class="btnBuy" href="#card">Comprar</a>
                </div>
            </div>

        </div>
        <i id="setaScrollDir" onclick="scrollEsquerda()" style='font-size:50px; color: white;' class='fas'>&#xf105;</i>

    </div>


    <!-- BANNER ACESSORIOS  -->

    <img class="banDivision" src="assets/img/banners/banAcessoriosFino.jpg">


    <div class="shopAcessorios">

        <div id="card" class="card">
            <div class="imgAcessorios">
                <img src="assets/img/produtos/controle ps5.png">
            </div>
            <div class="cardTexto">
                <span id="product" class="nomeDoProduto">Controle de PS5</span>
                <div class="promoPreco">
                    <span class="promo"></span>
                    <span class="precoDoProduto">R$ 400,00</span>
                </div>
                <span class="parcelas"><i class="fab fa-cc-mastercard"></i> 3x sem juros</span>
                <a id="btnBuy" class="btnBuy" href="#card">Comprar</a>
            </div>
        </div>

        <div id="card" class="card">
            <div class="imgAcessorios">
                <img src="assets/img/produtos/controle xbox sx.png">
            </div>
            <div class="cardTexto">
                <span id="product" class="nomeDoProduto">Controle de Xbox One</span>
                <div class="promoPreco">
                    <span class="promo"></span>
                    <span class="precoDoProduto">R$ 350,00</span>
                </div>
                <span class="parcelas"><i class="fab fa-cc-mastercard"></i> 3x sem juros</span>
                <a id="btnBuy" class="btnBuy" href="#card">Comprar</a>
            </div>
        </div>



        <div id="card" class="card">
            <div class="imgAcessorios">
                <img src="assets/img/produtos/cadeira.png">
            </div>
            <div class="cardTexto">
                <span id="product" class="nomeDoProduto">Cadeira Gamer</span>
                <div class="promoPreco">
                    <span class="promo"></span>
                    <span class="precoDoProduto">R$ 790,00</span>
                </div>
                <span class="parcelas"><i class="fab fa-cc-mastercard"></i> 3x sem juros</span>
                <a id="btnBuy" class="btnBuy" href="#card">Comprar</a>
            </div>
        </div>



    </div>





    <!-- BARRA DOS PRODUTOS EM DESTAQUE  -->
    <img class="banDivision" src="assets/img/banners/banBFridayFino.jpg">


    <div class="contDestaques">

        <!-- CONTAINER DOS CARTOES -->
        <div id="destaque" class="contJogosDest">
        </div>
    </div>

    <!-- DUAS IMAGENS PARA NOTEBOOKS  -->
    <div class="bans1">

        <div class="bans1Left">
            <div class="banImg">
                <img class="lancImg" src="assets/img/banners/bannerNoteGamer.jpg">

            </div>

            <div class="captionB1L">
                <a href="lancamento.html">
                    <span>Notebooks para jogos</span>
                    <p>comprar agora</p>
                </a>
            </div>
        </div>
        <div class="bans1Right">
            <div class="banImg">
                <img src="assets/img/banners/bannerNoteTrabalho.jpg">
            </div>

            <div class="captionB1L">
                <a href="prevenda.html">
                    <span>Notebooks para trabalho</span>
                    <p>comprar agora</p>
                </a>
            </div>
        </div>

    </div>



    <div class="shopAcessorios">

        <div id="card" class="card">
            <div class="imgAcessorios">
                <img src="assets/img/produtos/ideapad 3i.png">
            </div>
            <div class="cardTexto">
                <span id="product" class="nomeDoProduto">Lenovo Ideapad 3i</span>
                <div class="promoPreco">
                    <span class="promo"></span>
                    <span class="precoDoProduto">R$ 2.600,00</span>
                </div>
                <span class="parcelas"><i class="fab fa-cc-mastercard"></i> 3x sem juros</span>
                <a id="btnBuy" class="btnBuy" href="#card">Comprar</a>
            </div>
        </div>

        <div id="card" class="card">
            <div class="imgAcessorios">
                <img src="assets/img/produtos/galaxy book s.webp">
            </div>
            <div class="cardTexto">
                <span id="product" class="nomeDoProduto">Galaxy Book S</span>
                <div class="promoPreco">
                    <span class="promo"></span>
                    <span class="precoDoProduto">R$ 6.350,00</span>
                </div>
                <span class="parcelas"><i class="fab fa-cc-mastercard"></i> 3x sem juros</span>
                <a id="btnBuy" class="btnBuy" href="#card">Comprar</a>
            </div>
        </div>



        <div id="card" class="card">
            <div class="imgAcessorios">
                <img src="assets/img/produtos/rog zeph.png">
            </div>
            <div class="cardTexto">
                <span id="product" class="nomeDoProduto">Asus Rog Zephyrus Duo</span>
                <div class="promoPreco">
                    <span class="promo"></span>
                    <span class="precoDoProduto">R$ 35.790,00</span>
                </div>
                <span class="parcelas"><i class="fab fa-cc-mastercard"></i> 3x sem juros</span>
                <a id="btnBuy" class="btnBuy" href="#card">Comprar</a>
            </div>
        </div>



    </div>


    <!-- SMARTPHONES  -->
    <img class="banDivision" src="assets/img/banners/bannerSmartphones.jpg">

    <div class="shopAcessorios">

        <div id="card" class="card">
            <div class="imgAcessorios">
                <img src="assets/img/produtos/s21Ultra5G.png">
            </div>
            <div class="cardTexto">
                <span id="product" class="nomeDoProduto">Galaxy S21 Ultra 5G</span>
                <div class="promoPreco">
                    <span class="promo"></span>
                    <span class="precoDoProduto">R$ 6.250,00</span>
                </div>
                <span class="parcelas"><i class="fab fa-cc-mastercard"></i> 3x sem juros</span>
                <a id="btnBuy" class="btnBuy" href="#card">Comprar</a>
            </div>
        </div>

        <div id="card" class="card">
            <div class="imgAcessorios">
                <img src="assets/img/produtos/iphoneXR.png">
            </div>
            <div class="cardTexto">
                <span id="product" class="nomeDoProduto">Iphone Xr</span>
                <div class="promoPreco">
                    <span class="promo"></span>
                    <span class="precoDoProduto">R$ 3.150,00</span>
                </div>
                <span class="parcelas"><i class="fab fa-cc-mastercard"></i> 3x sem juros</span>
                <a id="btnBuy" class="btnBuy" href="#card">Comprar</a>
            </div>
        </div>



        <div id="card" class="card">
            <div class="imgAcessorios">
                <img src="assets/img/produtos/xiaomiMi10Ultra.png">
            </div>
            <div class="cardTexto">
                <span id="product" class="nomeDoProduto">Mi 10T Ultra</span>
                <div class="promoPreco">
                    <span class="promo"></span>
                    <span class="precoDoProduto">R$ 3.400,00</span>
                </div>
                <span class="parcelas"><i class="fab fa-cc-mastercard"></i> 3x sem juros</span>
                <a id="btnBuy" class="btnBuy" href="#card">Comprar</a>
            </div>
        </div>



    </div>
</div>