<header>
    <div class="head">
        <div class="headerTop">

            <!-- MENU DA ESQUERDA  -->
            <div class="headerTopLeft">

                <!-- MENU ANIMADO  -->
                <div id="menuHeader" class="menuCont" onclick="openMenu()">

                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>

                </div>

                <!-- CONTAINER DO SIDEMENU  -->
                <div id="mySidenav" class="sidenav" onmouseleave="closeBtn()">
                    <a href="javascript:void(0)" onclick="closeBtn()" class="closebtn">&times;</a>
                    <a routerLink="log" onclick="closeBtn()">Login</a>
                    <a routerLink="cart" onclick="closeBtn()">Carrinho</a>
                    <hr>
                    <a routerLink="" onclick="closeBtn()">Home</a>
                    <a id="sideMenuLogin" routerLink="log" onclick="closeBtn()">Login</a>
                    <a routerLink="loja" onclick="closeBtn()">Loja</a>
                    <a routerLink="lancamento" onclick="closeBtn()">Lançamentos</a>
                    <a routerLink="prevenda" onclick="closeBtn()">Pré-venda</a>

                </div>

            </div>

            <!-- LOGO GAME MANIA  -->
            <div class="headerTopLogo">
                <input id="inputFind" class="inputFind" type="search" placeholder="Buscar. . .">
                <span id='aa' class="topLogoTxt">Game</span><span class="textoRedLogo">Mania</span>
            </div>

            <!-- MENU DA DIREITA  -->
            <div class="headerTopRight">
                <a routerLink="log"><img id="iconUser" src="assets/img/icons/user.svg"></a>
                <a routerLink=""><img id="iconCart" src="assets/img/icons/cart.svg"></a>
                <img id="iconLupa" src="assets/img/icons/Lupa.svg">
            </div>
        </div>
        <div class="contInputSearch">
            <input class="inputBuscar" placeholder="Buscar produto" type="search">
        </div>
    </div>


</header>