.containerNewsletter{
    /* display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
    width: 25vw;
    font-size: 1.5rem;
    margin: auto; */

    /* border: 1px solid red; */
    width: 50vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

#nlBtn{
    width: 80px;
}
#email{
    width: 70%;
    text-align: center;
    margin-bottom: 15px;
}
.cart, .cartRed{
    color: #aaa;
    font-size: 2rem;
    transition: all .5s;
}
.cart:hover{
    color: #c33;
}
.cartRed{
    color: #f55;
}
.active{
    color: aqua;
}
.link{
    font-size: 3rem;
    text-decoration: none;
    color:gray;
    font-weight: 700;
}
.link:hover{
    color: #f55;
}

.red{
    color: #f55;
}

.barraTxtSm{
    font-size: 1.2rem;
}
.barraDivisoriaDeSecao{
    display: grid;
    grid-template-rows: auto;
    margin-bottom: 30px;
    text-align: center;
}

form button{
    height: 30px;
    width: 50%;
    margin: 0 auto;
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: 700;
    background-image: linear-gradient(to right, crimson, #f55);
    /* box-shadow: crimson 0 0 10px; */
}

@media only screen and (max-width: 768px){
    .barraDivisoriaDeSecao{
        padding: unset;
        margin-top:unset;
    }
    .containerNewsletter{
        width: 60vw;
        text-align: center;
    }
    .link{
        font-size: 1.5rem;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
        transition: all 1s;
    }
   
}

@media only screen and (max-width: 320px){
    .barraDivisoriaDeSecao{
        margin: 0;
    }
    .home{
        width: 95vw;
        overflow-x: hidden;
    }
    .containerNewsletter{
        margin-top: 70px;
        width: 80vw;
    }

    .img img{
        height: 155px;
        margin-left: 30px;
        margin-right: 5px;
        width: 74%;
    }
    .card{
        width: 80%;
    }
    .cardTexto{
        width: 60%;
    }

    .link{
        font-size: 1.3rem;
    }
}