*{
    padding: 0;
    margin: 0;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

.banner, .banner img{
    width: 100vw;
}

body{
    width: 100vw;
    background-color: black;

}

.contDez21, .contNov21, .contOut21, .contSet21, .contAgo21, .contDez, .contJan, .contFev{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    padding: 10px;
    grid-gap: 10px 10px;
    width: 95%;
    color: white;
}

.grid-item{

   position: relative;
   width: 200px;
   overflow: hidden;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-bottom: 15px;
}

.grid-item img{
    max-height: 300px;
}

.grid-item span{
    height: 50px;
    text-align: center;    
}






.bans1{
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px auto;
    color: white;
}



.bans1Left, .bans1Right{
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.banImg{
    width: 100%;
    overflow: hidden;
}

.bans1Left img, .bans1Right img{
    width: 100%;
}

.captionB1L{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.captionB1L span{
font-weight: 700;
}

.captionB1L a{
    text-decoration: none;
    color: white;
}



.barraTxt{
    font-size: 3em;
    color: white;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    padding-bottom: 10px;
    
}




.barraNews, .barraMensal{
    display: flex;
    justify-content: center;
    align-items: center;
text-align: center;
height: 70px;
width: 100%;
margin: 40px 0;
border-bottom: 10px solid black;
}

.barraMensal{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1),rgba(0, 0, 0, 0));
    position: sticky;
    top: 0;
    z-index: 1;
    margin: 0;
    border: unset;
    margin-top: 15px;
    height: 75px;

}



@media only screen and (max-width: 900px){
    .contNov21{
        display: grid;
        grid-template-columns: auto auto;
        /* background-color: #f0f4f9; */
        padding: 10px;
        grid-gap: 10px 10px;
        width: 95%;
        color: white;
    }
}

@media only screen and (max-width: 768px){
    .contNov21, .contOut21, .contSet21, .contAgo21, .contDez, .contJan, .contFev, .contDez21{
        display: grid;
        grid-template-columns: auto auto;
        /* background-color: #f0f4f9; */
        padding: 10px;
        grid-gap: 10px 10px;
        width: 95%;
        color: white;
        justify-content: space-evenly;
    }  

    .barraTxt{
        font-size: 2rem;
    }

  
}
@media only screen and (max-width: 490px){
    .barraTxt{
        font-size: 1.5rem;
    }
}
@media only screen and (max-width: 420px){
    .contNov21, .contOut21, .contSet21, .contAgo21, .contDez, .contJan, .contFev{
        display: grid;
        grid-template-columns: auto;
        /* background-color: #f0f4f9; */
        padding: 10px;
        grid-gap: 10px 10px;
        width: 95%;
        color: white;
        justify-content: space-evenly;
    }
    .banner{
        display: none;
    }
}

@media only screen and (max-width: 320px){
    .contNov21, .contOut21, .contSet21, .contAgo21, .contDez, .contJan, .contFev, .contDez21{
        display: grid;
        grid-template-columns: auto;
        /* background-color: #f0f4f9; */
        padding: 10px;
        grid-gap: 10px 10px;
        width: 95%;
        color: white;
        justify-content: space-evenly;
    }
    .banner{
        display: none;
    }

    .bans1{
        flex-direction: column;
    }
    .bans1Left, .bans1Right{
        width: 100%;
        margin-bottom: 20px;
    }
    .barraTxt{
        font-size: 1.3rem;
    }
    .barraNews{
        padding: unset;
        margin: unset;
    }
}

