<footer class="marginSuperior">
    <div class="footerTop">
        <span class="footerGame">Game</span><span class="footerMania">Mania</span><br>
        <span class="cnpj">
            CNPJ: 22.183.899/0001-68
        </span>
    </div>

    <div class="footerBot">
        <div class="footerLeft">
            Mapa do site:<br><br>

            <a href="index.html">
                Home<br>
            </a>
            <a href="cart.html">
                Carrinho<br>
            </a>
            <a href="log.html">
                Login<br>
            </a>
            <a href="loja.html">
                Loja<br>
            </a>
            <a href="lancamento.html">
                Lançamentos<br>
            </a>
            <a href="prevenda.html">
                Pré-venda<br>
            </a>

        </div>

        <div class="footerMid">


            <!-- <p class="topLogoTxt">Game Mania</p> -->

            <br>
            <br>
            <span class="footerEndereco">
                Rua Edward Kenway, 4823<br>
                Vila James - São Paulo - SP<br>
                Telefones: 11 3353-5535<br><br></span>

            email: informacao@gamemania.com.br

            <div class="socialMediaIcons">
                <img src="assets/img/icons/faceIcon.svg">
                <img src="assets/img/icons/ttIcon.svg">
                <img src="assets/img/icons/instaIcon.svg">
            </div>
        </div>

        <div class="footerRight">
            <span>
                Horário de atendimento:
            </span>

            <span>
                Segunda à Sexta<br>
                09h às 18h<br>
            </span>

            <span>
                Sábados, Domingos<br>
                e Feriados<br>
                09h às 14h
            </span>
        </div>

    </div>
    <div class="direitos">
        <span>Copyright © 2021 GameMania - Desenvolvido por Adriano / GameMania - CNPJ: 22.111.555/0001-11

        </span>
    </div>


</footer>