<!-- <div class="imagemDetail">
    <img class="fotoCapaDetalhes" src="{{resultadoCapa}}">
</div>

<div class="descricao">
    <span class="nomeDoProdutoDet" id="nomeDoProdutoDet">nome</span>

    <span id="detalheDoProduto" class="precoDoProd">detalhe</span>
    <span class="valor">Preço: R$ preco</span> 
    <div class="precoBotao">
        <a href="cart.html"><button class="btnComprar" type="button">Comprar</button></a>
        <button class="btnComprar" type="button">Adicionar</button>
    </div>

</div> -->





<div id="contDetalhes" class="contDetalhes">

    <!-- <div class="imagemDetail">
        <img class="fotoCapaDetalhes" src="">
    </div> -->

    <div class="imagemDetail">
        <img class="fotoCapaDetalhes" src="{{resultadoCapa}}">
    </div>
    
    <div class="descricao">
        <span class="nomeDoProdutoDet" id="nomeDoProdutoDet">{{resultadoNome}}</span>
    
        <span id="detalheDoProduto" class="precoDoProd">{{resultadoDesc}}</span>
        <span class="valor">Preço: {{resultadoPreco}}</span> 
        <div class="precoBotao">
            <a href="cart.html"><button class="btnComprar" type="button">Comprar</button></a>
            <button class="btnComprar" type="button">Adicionar</button>
        </div>
    
    </div>


</div>
<br>
<!-- <div class="screenshots">
</div>

<br> -->