<div id="contDetalhes" class="contDetalhes">


    <div class="imagemDetail">
        <img class="fotoCapaDetalhes" src="{{resultadoCapa}}">
    </div>

    <div class="descricao">
        <span class="nomeDoProdutoDet" id="nomeDoProdutoDet">{{resultadoNome}}</span>


        <span id="detalheDoProduto" class="precoDoProd">{{resultadoDesc}}</span>
        <span class="valor">Preço: {{resultadoPreco}}</span>
        <div class="precoBotao">
            <a href="cart.html"><button class="btnComprar" type="button">Comprar</button></a>
            <button class="btnComprar" type="button" (click)="addCart()">Adicionar</button>
        </div>

    </div>

</div>

<div class="cepForm">
    <form class="formCep" #f="ngForm">
        <label for="cep">CEP</label>
        <input type="text" name="cep" id="cep" ngModel #cep="ngModel" maxlength="8" placeholder="Use apenas números para informar o cep" (blur)="consultaCep(cep.value, f)">
        <label for="cep">LOGRADOURO</label>
        <input type="text" name="logradouro" id="logradouro" ngModel #logradouro="ngModel" disabled>
        <label for="cep">BAIRRO</label>
        <input type="text" name="bairro" id="bairro" ngModel #bairro="ngModel" disabled>
        <label for="cep">CIDADE</label>
        <input type="text" name="cidade" id="cidade" ngModel #cidade="ngModel" disabled>
        <label for="cep">UF</label>
        <input type="text" name="uf" id="uf" ngModel #uf="ngModel" disabled>
    </form>
</div>