<div class="news">
    <!-- BARRA DOS PRODUTOS EM DESTAQUE  -->
    <div id="barraDestaque" class="barraDivisoriaDeSecao">
        <span id="jogosDestaque" class="barraTxt">Produtos em Destaque</span>
    </div>

    <div class="contDestaques">

        <!-- CONTAINER DOS CARTOES -->
        <div id="destaque" class="contJogosDest">
            

            <div *ngFor = "let index of corre" id="card" class="card">
                <div class="img">
                    <a href="novoDetalhe.html?code=1">
                        <img id="idCardImagem" [src]="index.capa" >
                    </a>
                </div>
                <div class="cardTexto">
                    <span id="product" class="nomeDoProduto">{{ index.nome }}</span>
                    <div class="promoPreco">
                        <span class="promo"></span>
                        <span class="precoDoProduto">{{ index.preco }}</span>
                    </div>
                    <span class="parcelas">até 6x sem juros</span>
                    <a id="btnBuy" href="novoDetalhe.html?arr=0&code=1" class="btnBuy">Comprar</a>
                </div>


            </div>

        </div>
    </div>
</div>