<div>
    <div class="banner">

        <img src="assets/img/banners/bannerPreVenda.jpg">
    </div>

    <div class="barraMensal">
        <span class="barraTxt">Lançamentos de Dezembro - 2021</span>
    </div>

    <!-- LANÇAMENTOS DE NOVEMBRO 21  -->
    <div class="contNov21">

        <div *ngFor='let index of pvDez' class="grid-item">
            <img [src]="index.img">
            <span>{{index.nome}}</span>
            <span>{{index.data}}</span>
        </div>
    </div>
</div>


<div>
    <div class="barraMensal">
        <span class="barraTxt">Lançamentos de Janeiro - 2022</span>
    </div>

    <!-- LANÇAMENTOS DE NOVEMBRO 21  -->
    <div class="contNov21">


        <div *ngFor='let index of pvJan' class="grid-item">
            <img [src]="index.img">
            <span>{{index.nome}}</span>
            <span>{{index.data}}</span>
        </div>

    </div>
</div>


<div>
    <div class="barraMensal">
        <span class="barraTxt">Lançamentos de Fevereiro - 2022</span>
    </div>

    <!-- LANÇAMENTOS DE NOVEMBRO 21  -->
    <div class="contNov21">


        <div *ngFor='let index of pvFev' class="grid-item">
            <img [src]="index.img">
            <span>{{index.nome}}</span>
            <span>{{index.data}}</span>
        </div>

    </div>
</div>