.banner, .banner img{
    width: 100vw;
}

.barraNews, .barraMensal{
    display: flex;
    justify-content: center;
    align-items: center;
text-align: center;
height: 70px;
width: 100%;
margin: 40px 0;
border-bottom: 10px solid black;
/* background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(50, 50, 50, 1),rgba(50, 50, 50, 1),rgba(50, 50, 50, 1), rgba(0, 0, 0, 0) ); */
}

.barraMensal{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1),rgba(0, 0, 0, 0));
    position: sticky;
    top: 0;
    z-index: 1;
    margin: 0;
    border: unset;
    margin-top: 15px;
    height: 75px;

}

.barraTxt{
    font-size: 3em;
    color: white;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    /* -webkit-text-stroke: 2px black;  */
    padding-bottom: 10px;
    
}

.contNov21, .contOut21, .contSet21, .contAgo21, .contDez, .contJan, .contFev{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    padding: 10px;
    grid-gap: 10px 10px;
    width: 95%;
    color: white;
}

.grid-item{

        position: relative;
        width: 200px;
        overflow: hidden;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 15px;
}

.grid-item img{
        max-height: 300px;
}
    
.grid-item span{
        height: 50px;
        text-align: center;    
}


    @media only screen and (max-width: 900px){
        .contNov21{
            display: grid;
            grid-template-columns: auto auto;
            /* background-color: #f0f4f9; */
            padding: 10px;
            grid-gap: 10px 10px;
            width: 95%;
            color: white;
        }
    }

    @media only screen and (max-width: 768px){
        .contNov21, .contOut21, .contSet21, .contAgo21, .contDez, .contJan, .contFev{
            display: grid;
            grid-template-columns: auto auto;
            /* background-color: #f0f4f9; */
            padding: 10px;
            grid-gap: 10px 10px;
            width: 95%;
            color: white;
            justify-content: space-evenly;
        }  

        .barraTxt{
            font-size: 2rem;
        }

      
    }
    @media only screen and (max-width: 490px){
        .barraTxt{
            font-size: 1.5rem;
        }
    }
    @media only screen and (max-width: 420px){
        .contNov21, .contOut21, .contSet21, .contAgo21, .contDez, .contJan, .contFev{
            display: grid;
            grid-template-columns: auto;
            /* background-color: #f0f4f9; */
            padding: 10px;
            grid-gap: 10px 10px;
            width: 95%;
            color: white;
            justify-content: space-evenly;
        }
        .banner{
            display: none;
        }
    }

